# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# WebStorm / JetBrains
.idea/

# Fichiers temporaires
*.bak
*.tmp
*.swp
*~

# Windows (par précaution)
Thumbs.db
ehthumbs.db